@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #f7f7f7;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    line-height: 135%;
    display: flex;
    flex-direction: column;
}

main {
    margin: 20px;
    line-height: 135%;
    display: flex;
    flex-direction: column;
}

header, footer {
    width: 98%;
}

a {
    color: #ff1826;
    text-decoration: none;
    transition: all .6s ease;
}

a:hover {
    color: #77ffa4;
    text-decoration: none;
    transition: all .6s ease;
}

a:active {
    color: #6091ff;
}

::selection {
    background: #ff1826;
    color: #fbf8ff
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

header {
    border-bottom: 2px solid silver;
    padding: 1%;
    background-color: #98b7ff;
}

footer {
    height: 0;
    border-top: 2px solid silver;
    margin-top: auto;
    padding: 1% 1% 3%;
    background-color: #98b7ff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #ff1826;
    padding: 0 10px;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

#logo {
    font-size: 1.5em;
    font-family: "Comic Sans MS", sans-serif;
    color: #ff1826;
}

.about {
    color: silver;
    font-size: 1.2em;
    font-family: "Comic Sans MS", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    border-radius: 10px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;
}

button {
    border-radius: 10px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;
}

select {
    border-radius: 10px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;
}

input:focus {
    border: 2px solid #ff1826;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
}